p{
    color: white;
}


body{
    background-color: #0C0215;
}


li{
    color: white;
}

a.img{
    align-content: center;
}

div{
    color: white;
}
body{
    color: white;
}
button{
    height:40px;
    width:200px;
}
.logs{
    position: fixed;
    right: 0;
    top: 0;


}