p{
    color: white;
}


body{
    background-color: #0C0215;
}


li{
    color: white;
}

a.img{
    align-content: center;
}

div{
    color: white;
}

h1{
    color: white;
}

intro{
    color: white;
}

body.page1{
    background-color: #0C0215;
}

a.bait{
    color: white;
}
h2{
    color: white;
}
a.reel{
    text-decoration:none;
    color: white;
}

